version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin123
      - N8N_HOST=0.0.0.0
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=http://192.168.56.31:5678/
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - devops-network
    restart: unless-stopped

networks:
  devops-network:
    external: true
    name: devops-academy_devops-network

volumes:
  n8n_data:
